---
import { ArrowDownToLine, LayoutGrid } from "lucide-react";
import hero from "./../../contents/hero.yaml";
import Overview from "./Overview.astro";
import settings from "../../config/settings.yaml";
---

<section
  class="px-4"
  style=`background-image: url('${settings.base_url}/hero-bg.png'); background-size: cover; background-position: center;`
>
  <div
    class="h-screen mt-16 md:mt-0 flex flex-col justify-center text-base-100"
  >
    <div
      class="max-w-4xl gap-4 container mx-auto justify-center flex flex-col mb-8 md:mb-32 items-center"
    >
      <img
        src={`${settings.base_url}/portrait.jpg`}
        alt="Abhishek Shah"
        class="rounded-full size-32 md:size-52 border-8 border-white/10"
      />
      <h1 class="text-3xl md:text-5xl font-black text-center">
        <span class="text-primary">{hero.hero_name}</span> - {hero.hero_title}
      </h1>
      <p class="text-lg md:text-2xl text-center mb-4">
        {hero.hero_subtitle}
      </p>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <!-- Portfolio button -->
        <a
          href={`${settings.base_url}/#portfolio`}
          class="btn hover:bg-secondary btn-lg md:btn-xl"
          >View Portfolio <LayoutGrid /></a
        >
        <!-- Download resume button -->
        <a
          href={`${settings.base_url}/#download`}
          class="btn btn-lg flex items-center justify-center md:btn-xl btn-ghost group relative overflow-hidden"
        >
          <span
            class="flex items-center justify-center transition-transform duration-300 transform group-hover:-translate-y-full w-full"
          >
            Download Resume <ArrowDownToLine />
          </span>
          <span
            class="flex items-center justify-center absolute top-full left-0 w-full h-full transition-transform duration-300 transform group-hover:-translate-y-full bg-base-100 text-base-content"
          >
            Download Resume <ArrowDownToLine />
          </span>
        </a>
      </div>
    </div>
    <!-- Statistics -->
    <div class="container max-w-5xl mx-auto -mb-16 md:-mb-32">
      <Overview items={hero.overview_items} />
    </div>
  </div>
</section>
