---
import { ArrowRight } from "lucide-react";
import settings from "../../config/settings.yaml";
const { data } = Astro.props;
const { data: project } = data;
const cover = `${settings.base_url}/project-images/${project.cover}`;
const url = `${settings.base_url}/projects/${project.slug}`;
---

<a
  href={url}
  class="group flex flex-col cursor-pointer justify-center gap-4 p-4 items-start"
>
  <!-- Image Container with Zoom -->
  <div class="overflow-hidden rounded-box w-full">
    <img
      src={cover}
      alt={project.title}
      loading="lazy"
      class="w-full transition-transform duration-500 transform group-hover:scale-105"
    />
  </div>

  <h3 class="text-2xl text-accent font-bold">{project.title}</h3>
  <p class="text-base-300">{project.description}</p>

  <!-- Slide Container -->
  <div class="relative h-6 w-full overflow-hidden">
    <!-- Tags (slide out) -->
    <p
      class="absolute transition-all duration-500 text-base-300 text-xs uppercase transform group-hover:-translate-y-full"
    >
      {project.tags?.join(", ")}
    </p>
    <!-- View Project Link (slide in) -->
    <button
      class="absolute transition-all duration-500 transform translate-y-full group-hover:translate-y-0 text-primary font-bold w-full"
      aria-label={`View project: ${project.title}`}
    >
      <div class="flex gap-3 items-center justify-start">
        <div>View Project</div><ArrowRight />
      </div>
    </button>
  </div>
</a>
