---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import settings from "../../../config/settings.yaml";
import { Splide, SplideSlide } from "@splidejs/react-splide";
import "@splidejs/react-splide/css";

export async function getStaticPaths() {
    const articles = await getCollection("projects");
    return articles.map((article) => {
        return {
            params: { slug: article.data.slug },
            props: { article },
        };
    });
}

const { article } = Astro.props;
const images = article?.data?.images?.map((image) => {
    return {
        ...image,
        src: `${settings.base_url}/project-images/${image.src}`,
    };
});
const { Content } = await render(article);
---

<Layout title={article.data.title}>
    <div
        class="py-8 container mx-auto gap-8 px-5 grid grid-cols-1 lg:grid-cols-2"
    >
        <div>
            <Splide client:only="react">
                {
                    images.map((image) => {
                        return (
                            <SplideSlide>
                                <img
                                    alt={image.description}
                                    class="h-96 lg:h-[90vh]"
                                    src={image.src}
                                />
                                <p>{image.description}</p>
                            </SplideSlide>
                        );
                    })
                }
            </Splide>
        </div>
        <div
            class="prose prose-h1:text-white prose-h2:text-accent prose-p:text-base-100 prose-li:text-base-200 list-disc"
        >
            <Content />
        </div>
    </div>
</Layout>
